<li class="custom-global-header-nav__list--parent">
  <a
    {{on "click" (fn @onClick @name)}}
    href={{if @menuItem.parent_link @menuItem.parent_link}}
    class={{if (eq @hamburgerOpenSubmenu @name) "--open"}}
  >
    {{@menuItem.parent_text}}
    {{#if @menuItem.child_links}}
      {{d-icon "caret-down"}}
    {{/if}}
  </a>
  {{#if @menuItem.child_links}}
    <div class="custom-global-header-nav__list--submenu">
      <ul>
        {{#each @menuItem.child_links as |child|}}
          {{#if child.link}}
            <li class="custom-global-header-nav__list--child">
              <a href={{child.link}} {{on "click" (fn @onClick null)}}>
                {{child.link_text}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
</li>